<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" style="color: #EAA221" href="/">
      <img src="/assets/favicon.png" alt="logo" width="30" height="30">
      Spoiler Alert
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <form class="d-flex me-2" role="search" action="/pantry" method="GET">
        <input class="form-control me-2" style="border-color: #EAA221;" type="search" name="search" placeholder="Search pantry..." aria-label="Search" value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>" />
        <button class="btn" style="border-color: #EAA221; color: #EAA221" type="submit">Search</button>
      </form>
    </div>
    <button class="btn ms-2" style="color: #EAA221; border-color: #EAA221;" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu">
      ☰
    </button>
  </div>
</nav>
<%- include('sidebar') %>
